@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center, rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  transition: background-image 1s ease-in-out;
}
@media screen and (min-width:1440px) {
  body {
    background: center/cover, rgba(0, 0, 0, 0.3);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
  width: 180px;
  margin-bottom: 28px;
}

.player-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.styled-progressbar {
  --height-bar: 15px; 
  -webkit-appearance: none;  
  appearance: none;
  width: 100%; 
  height: var(--height-bar);
  border-radius: calc(var(--height-bar)/2);
  background: hsla(0,0%,100%,.3); 
  outline: none; 
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
  box-shadow: 0 0 20px 0 #000a;
}
.styled-progressbar:hover {
  opacity: 1;
  cursor: pointer;
}
.styled-progressbar::-webkit-slider-thumb {
    -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background: -webkit-linear-gradient(45deg,  rgb(136, 119, 119), rgb(6, 255, 201));
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
input[type="range"]:hover::-webkit-slider-thumb {
  height: 15px;
  width: 7px;
  background: -webkit-linear-gradient(45deg,  rgb(213, 213, 213), rgb(6, 255, 151));
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.25);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  width: 100%;  
  margin-top: -10px;
  color: #712b29;
  text-align: center;
  font-style: italic;
  font-size: 16px;
}
.weather-error::first-letter {
  text-transform: uppercase;
}
.error {
  background-color: #f7dddc;
  padding: 0.1rem 0.1rem;
  border: 1px solid #da6561;
  margin-top: 5px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  column-gap: 12px;
  font-style: italic;
  font-size: 18px;
}
.temperature {
  font-size: 24px;
  text-align: center;
}

.weather-icon {
  font-size: 50px;
}
.weather-icon:hover {
  animation: shake 1.5s;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100%;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .7;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 8px;
  background-image: url("../assets/svg/reload.svg");  
}
.quotes {
  background: #3c393985;
  padding: 0.5em;
  border-radius: 1em;
  transition: background-color 1s ease-in-out;
  overflow: hidden;
}
.quote {
  min-height: 32px;
}
.quote::before {
  content: "“";
}
.quote::after {
  content: "”";
}
.quote-error {
  width: 100%;  
  margin-top: -10px;
  color: #712b29;
  text-align: center;
  font-style: italic;
  font-size: 18px;
}

.author {
  min-height: 20px;
  font-style: italic;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 65px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
  .slider-icon {
    scale: 1.5;
  }
  .quotes {
    max-height: 100px;
    overflow: auto;
  }
  .footer {
    min-height: 201px;
  }
}