@import url("player.css");
@import url("weather.css");
@import url("quotes.css");
@import url("owfont-regular.css");

@font-face {
  font-family: Open-Sans;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("OpenSans-Regular"),
    url("/assets/fonts/OpenSans-Regular.ttf") format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}


:root {
  --height-progress-bar: 15px;
  --width-progress-bar: 180px;
  --color-playlist-item: #FFB52E;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Open-Sans, Arial, sans-serif;
  font-size: 10px; /* Apply 10px for comfortable calculating REM */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  text-align: center;
  background: no-repeat url('../assets/img/bg.webp') center center / cover , rgb(0 0 0 / 30%);
  background-blend-mode: hard-light;
  transition: background-image 1s ease-in-out;

}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  margin-bottom: 0.3em;
  font-size: clamp(4.375rem, 3.3581rem + 5.0847vw, 8.125rem);
}

.date {
  font-size: clamp(1.1875rem, 0.7977rem + 1.9492vw, 2.625rem);
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  align-items: center;
  font-size: clamp(1.5625rem, 0.9354rem + 3.1356vw, 3.875rem);
}

.greeting {
  flex: 0 0 56%;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 0 1 10%;
  max-width: 26%;
  padding: 10px;
  font-size: inherit;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
}

.name::placeholder {
  color: #fff;
  opacity: .7;
  font-size: clamp(1rem, 0.6271rem + 1.8644vw, 2.375rem);
}

.footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}